<div class="container">
  <h1>Bài viết mới</h1>
  <%= render "form", post: @post %>
  <br>
  <div>
    <button type="button" class="btn btn-info"><%= link_to "Quay về diễn đàn", posts_path, style:'color : white;' %></button>
  </div>
</div>
